*{

margin:0px;
  padding: 0;
font-family: Arial, Helvetica, sans-serif;
text-align:center;
}


ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #da0b3e;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navtitre{
  text-align: center;
  background-color: #c80434;
  color:yellow;
padding: 15px;
}

.logo-region{
  width: 6%;
  float: left;
  position: absolute;
  top: 10px;
  left: 8px; 
}



h2{
  color:#c80434;
}

h3{
  color:#c80434;
}

h4{
  text-align:right;
}